#myAccountContainer {
    width: 100%;
}

#myAccountHeader {
    justify-content: space-between;
}

#myAccountHeaderAccountItem {
    margin-left: 10px;
}

#myAccountHeaderHomeItem {
    margin-right: 10px;
}

#myAccountInfo {
    justify-content: center; 
}

#myAccountInfoLeftColumn {
    flex-flow: column;
    align-items: center;
    padding: 20px;
}

#myAccountSignOutButton {
    margin: 10px;
}

#myAccountInfoRightColumn {
    flex-flow: column;
    padding: 20px;
}